* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.logo {
    height: 50px;
    
    
}
.search {
    height: 30px;
    margin-left: 0%;
    margin-left: 10%;
}
nav{
    color: #ffffff;
}

.navbar ul {
   
    display: flex;
    list-style: none;
}

.navbar li {
    
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px  10px 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
}

#search-input{
    background-color: #ffffff;
    width: 500px;
    height: 50px;
    padding: 2%;
    border-radius: 30px;
    font-size: 20px;
    margin-right: 200px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-text {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin-left: 20px;
    
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-content a {
    font-size: 15px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
section div {
    display:flex;
}
.accessories{
    display: inline-block;
   width: 20%;
}
.container{
    width: 100%;
}
.accessories img{
    height: 140px;
    padding-top: 30%;
    
}

.container2,.container4{
 display: flex;
 margin-top: 80px;
 
}
.container2 img{
    height: 45px;

}
.offer{
    flex: 1;
}
.offer h1{
    font-size: 60px;
    margin-left: 20%;
    margin-top: 10%;
}
.offer h4{
    font-size: 20px;
    margin-left: 20%;
    margin-top: 0%;
}
.offer img{
    margin-left: 30%;
    height: 500px;
}
hr{
    margin-top:2%;
}
.offer p{
    margin-left: 20%;
}
.signin{
    border:2px solid rgba(0, 0, 0, 0.324) ;
    padding: 10px;
    width: 50%;
    border-radius: 15px;
}
.signin h2,h4{
    
    padding: 2px;
}

.signin input{
    margin-top: 5%;
    padding: 2%;
    border-color: red;
    height: 40px;
    width: 50%;
    border-radius: 2px;
    font-size: 20px;
}
.signin button{
    padding: 0%;
    border-color: rgb(0, 0, 0);
    height: 40px;
    width: 50%;
    border-radius: 20px;  
    font-size: 20px; 
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: red;
    color: #ffffff;
}
.signin span{
text-decoration: underline;
color: blue;
cursor: pointer;
}
footer {
    margin-top: 2%;
    margin-left: 35%;
}
img,button{
    cursor: pointer;
}
.body h1{
    padding-top: 2%;
    text-align: center;
}
.container3 img{
    width: 725px;
}
footer h1{
    padding-bottom: 2%;
}
.main-content{
 flex: 1;
 padding: 20px;
}
.slidebar{
    border-right: 1px solid #ddd;
}
.slidebar li{
    margin-left: 40px;
    padding-bottom:10px ;
    font-size: 15px;
    list-style-type: none;
}
.slidebar h1,h4{
    padding-bottom: 5px;
    margin-left: 40px;
}
.slidebar{
    width: 300px;
}
.slidebar input[type="radio"] ,input[type="checkbox"]{
    padding-bottom: 5px;
    margin-right: 10px;
}
.slidebar hr{
    margin: 20px 0px;
}
.slidebar p{
    
    color: rgb(255, 121, 121);
    margin-left: 25%;
    
}
.slidebar p:hover{
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    display: inline;
    padding: 2px;
    cursor: pointer;
    color: #000000;
}
.container5,.container6{
    display: flex;
}
.container5 img{
    margin-top:60px ;
    height: 250px;
    margin-left: 80px;
}
.container5 h2,p,h3{
    font-weight: normal;
    text-align: center;
}
.container5 span{
    font-size: 14px;
    text-decoration: line-through;
    
}
.container5 h2{
    padding-top: 2%;
   padding-bottom: 5%;
}
.container6{
    background-color: red;
    display: flex;
    margin-top: 5%;
    padding-bottom: 40px;
    padding-top: 22px;
    color: #ffffff;
    
   
}
.out{
    flex: 1;
}
.container6 h3{
    padding-bottom: 25px;
    color: black;
    
}
.container6 p{
    padding-bottom: 15px;
    
}
.container6 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
h5{
    background-color: red;
    color: #ffffff;
    text-align: center;
    padding-bottom: 30px;
    font-family:sans-serif ;
    font-weight: normal;
}
#enroll{
   margin-left:15% ;
}
html{
    scroll-behavior: smooth;
   }
   .container2 h6{
    font-weight: normal;
    font-size: 14px;
    margin-left: 20%;
   }
   .container h4{
    font-weight: normal;
    font-size: 14px;
    margin-left: 2%;
   }
  